mixin s-buy()
	// start s-buy
	+b.s-buy.section.block-with-lazy&attributes(attributes)
		.container
			.main-block
				h2 Для чего нужна справка из банка
				+e.item-p
					p Справка из&nbsp;банка о&nbsp;состоянии счета является обязательным документом для человека, который собирается в&nbsp;другую страну, ведь она свидетельствует о&nbsp;его платежеспособности. Не&nbsp;важно, по&nbsp;какому поводу и&nbsp;как надолго вы&nbsp;собираетесь с&nbsp;визитом в&nbsp;другую страну: вам нужно подтвердить, что вы&nbsp;в&nbsp;состоянии оплатить каждый день пребывания в&nbsp;иностранном государстве. Документ вам необходим срочно и&nbsp;нет времени посещать финансовое учреждение? В&nbsp;такой ситуации вы&nbsp;можете купить справку из&nbsp;банка в&nbsp;Москве. Для поездки за&nbsp;границу нужно собрать огромное количество документов, вам не&nbsp;нужно будет тратить свое время, чтобы добраться в&nbsp;финансовое учреждение, стоять в&nbsp;очередях, ведь не&nbsp;всегда финансисты готовы сразу обслужить клиентов, и&nbsp;написать заявление о&nbsp;выдаче справки из&nbsp;банка о&nbsp;наличии собственных средств на&nbsp;счете. А&nbsp;ведь вы&nbsp;можете оформить заявку на&nbsp;Spravki-bank.com, для этого даже из&nbsp;дома можно не&nbsp;выходить. Важно: компания выдает только официальные документы.
				+e.item
					+e.img-wrap
						+e.IMG.item-image(src="img/art1.jpg")
					h3 Особенности получения справки из банка
					p Человек, собирающийся посетить страну, которая входит в&nbsp;Шенгенский союз, и&nbsp;получить вид на&nbsp;жительство, должен знать, что ему необходимо будет представить огромное количество разных документов. Они нужны не&nbsp;только для того, чтобы идентифицировать определенного гражданина, но&nbsp;и&nbsp;для того, чтобы служащие консульства смогли убедиться, соответствует&nbsp;ли цель визита заявленной. Справка из&nbsp;банка о&nbsp;наличии денежных средств&nbsp;&mdash; это один из&nbsp;самых главных документов. Только она подтверждает, что путешественник в&nbsp;состоянии обеспечить самостоятельно свои потребности и&nbsp;ни&nbsp;при каких обстоятельствах на&nbsp;помощь государства (где будет пребывать) не&nbsp;рассчитывает.
					p Кроме того, справка о&nbsp;наличии счета в&nbsp;банке (баланс должен быть обязательно положительным)&nbsp;&mdash; это своеобразная гарантия для страны, которая принимает гражданина России. Чтобы получить своеобразную гарантию, что человек не&nbsp;будет работать в&nbsp;чужой стране нелегально и&nbsp;не&nbsp;останется в&nbsp;ней жить незаконно, справке из&nbsp;банка для визы уделяется большое внимание.
				+e.item
					+e.img-wrap
						+e.IMG.item-image(src="img/art2.jpg")
					h3 Получение ВНЖ: имеют ли&nbsp;право&nbsp;требовать справку из банка?
					p Огромное количество иностранцев, которые работают и&nbsp;живут в&nbsp;России, задумывались над тем, чтобы получить временный вид на&nbsp;жительство. В&nbsp;миграционную службу необходимо предоставить справку из&nbsp;банка для ВНЖ.
					p Иностранцу необходимо предоставить документ, который подтверждает его личность, фотографии, свидетельства на&nbsp;право собственности, о&nbsp;браке, заполнить бланки заявления, но&nbsp;самый главный документ, на&nbsp;основании которого принимается решение о&nbsp;предоставлении вида на&nbsp;жительство,&nbsp;&mdash; это банковская справка, ведь именно она является гарантией того, что определенный гражданин получает некий доход.
				
				
	// end s-buy


mixin s-buy-2()
	// start s-buy
	+b.s-buy.section.block-with-lazy&attributes(attributes)
		.container
			.main-block
				h2 Справка из банка необходима для открытия визы
				+e.item-p
					p Консульства обращают внимание на&nbsp;то, что пока нет определенных форм справок из&nbsp;банка для предоставления Шенгенской визы. Банковское учреждение на&nbsp;собственное усмотрение решает, каким будет документ. Зачастую она составляется на&nbsp;основании регламента, который был утвержден внутри финансового учреждения. Важно: документ выдается независимо от&nbsp;того, какой счет у&nbsp;клиента и&nbsp;в&nbsp;какой валюте у&nbsp;него хранятся денежные средства.
				+e.item
					+e.img-wrap
						+e.IMG.item-image(src="img/art3.jpg")
					h3 Как получить справку из банка, если счет не открыт
					p Если&nbsp;же о&nbsp;том, что вам нужна справка для визы, вы&nbsp;узнали за&nbsp;достаточно продолжительный период времени, нужно придерживаться таких правил:
					ol
						li Ситуация: счета в банке нет, следовательно, за 6 месяцев до планируемой даты его нужно открыть и на протяжении некоторого времени активно им пользоваться.
						li Всем известно о резких колебаниях такой валюты, как рубль, поэтому лучше открыть счет в долларах либо евро. Но это не значит, что справка о состоянии рублевого счета рассматриваться не будет.
						li Справка должна быть заверена печатью финансового учреждения и подписью.
					p В консульстве нужно согласовать язык составления документа. Огромное количество стран принимают документы на русском. Если же ограничения существуют, то в такой ситуации можно запросить выписку.
				+e.item
					+e.img-wrap
						+e.IMG.item-image(src="img/art4.jpg")
					h3 Сколько действительна справка из банка
					p Необходимо знать о том, что каждый документ имеет свой срок действия. Прекрасно, если все сложилось так, как вы планировали, но бывают ситуации, когда все идет вкось, поэтому необходимо знать о том, что срок действия справки из банка для визы составляет 30 календарных дней (один месяц).
					p Бывают исключительные случаи, когда сотрудники консульства могут принять документ, который был выдан ранее, поэтому необходимо сначала все уточнить в посольстве, показать документы, которые есть в наличии. Вам сообщили о том, что необходимо получить «свежую» справку из банка для визы? Документ вам нужен в срочном порядке? Тогда рекомендуется оформить заявку на сайте Spravki-bank.com, и в течение 24 часов справка будет готова.
				+e.item
					+e.img-wrap
						+e.IMG.item-image(src="img/art5.jpg")
					h3 Все консульства требуют справку из банка
					p Определенные страны требуют выписки из банка для визы, а еще человек может также предъявить чек, который легко получить из банкомата. В такой ситуации не нужно тратить драгоценное время, чтобы попасть в банк и ждать несколько дней (а также ожидать своей очереди в день непосредственно получения документа), пока справка о наличии денег на счету будет выполнена.
					p Обращаем внимание потенциальных соискателей на то, что правила не везде одинаковы, и их необходимо уточнять в каждом конкретном случае: так, некоторые консульства требуют, чтобы граждан предоставил документ с подписью и печатью, а это только справка о состоянии счета для визы.
				
				
	// end s-buy


mixin s-buy-3()
	// start s-buy
	+b.s-buy.section.block-with-lazy&attributes(attributes)
		.container
			.main-block
				h2 Как информация должна быть в справке из банка?
				+e.item-p
					p Если вам необходимо предоставить консульству документы, следует сразу уточнить один момент, чтобы не&nbsp;пришлось потом повторно получать какие-либо бумаги: нужна&nbsp;ли только справка о&nbsp;состоянии лицевого счета или&nbsp;же вам (зависит от&nbsp;страны-пункта назначения визита) еще необходимо доказать, что за&nbsp;несколько месяцев осуществлялось передвижение средств. Такой документ также можно получить очень быстро, ведь наша компания помогает получить справку о&nbsp;состоянии счета в&nbsp;течение суток.
				+e.item
					+e.img-wrap
						+e.IMG.item-image(src="img/art6.jpg")
					h3 Сколько справок из банка нужно предоставить, если&nbsp;за границу едет целая&nbsp;семья?
					p В&nbsp;вопросах оформления такого рода документов есть определенные нюансы. Так, если всей семье необходимо ехать за&nbsp;границы&nbsp;то, для визы нужна справка о&nbsp;состоянии счета одного члена семьи. Важно, чтобы на&nbsp;нем было достаточное количество денежных средств. Тем не&nbsp;менее, тем, кто переживает, чтобы оформление документов в&nbsp;консульстве не&nbsp;затянулось, юристы рекомендуют именно для каждого претендента заказать справку о&nbsp;состоянии счета, таким образом можно доказать платежеспособность всей семьи.
				+e.item
					h3 Как может быть получена справка из банка?
					p Если вы&nbsp;приняли решение купить справку из&nbsp;банка в&nbsp;Москве, то, при необходимости, курьер доставит вам документ домой. Таким образом, вы&nbsp;сэкономите время.
				+e.item
					+e.img-wrap
						+e.IMG.item-image(src="img/art7.jpg")
					h3 Где можно купить справку из банка?
					p Единого образца подобного рода документа не&nbsp;принято на&nbsp;законодательном уровне. Если в&nbsp;консульстве вам предоставили образец справки из&nbsp;банка о&nbsp;состоянии счета, его необходимо отнести в&nbsp;финансовое учреждение. У&nbsp;каждого банка своя форма, и&nbsp;она не&nbsp;всегда соответствует требованиям определенного консульства. Если нет времени для того, чтобы стоять в&nbsp;очереди и&nbsp;ждать несколько дней, пока будет изготовлен документ, рекомендуется купить справку о&nbsp;состоянии счета в&nbsp;банке. Требуемый документ будет готов в&nbsp;течение одного дня. Заказать справку вы&nbsp;можете не&nbsp;только на&nbsp;сайте, но&nbsp;и&nbsp;по&nbsp;телефону (оператор ответит на&nbsp;все ваши вопросы).
				
				
	// end s-buy