mixin s-about()
	// start s-about
	+b.SECTION.s-about.section.block-with-lazy#s-about&attributes(attributes)
		.container
			h1 Контакты компании "Spravki-bank.com"
			.row
				+e.left-col.col-lg
					+e.img-wrap
						+e.IMG.image(src='img/cont.jpg' alt='')
				.col-lg
					.article-page
						p Сложно предугадать, когда может потребоваться справка из банка. Хорошо, если вы узнали об этом заблаговременно, и у вас есть возможность получить ее официальным путем, обратившись в финансовое учреждение, в котором вы обслуживаетесь. Однако существует ряд обстоятельств, в которых ждать, когда будет готова справка о состоянии счета, просто неприемлемо. Это может быть как туристическая поездка по горящей путевке, так и внезапная командировка, отказ от которой может не лучшим образом повлиять на вашу карьеру.
						p Если вам понадобилась справка из банка для визы в любую страну, где это предусмотрено законодательством, мы будем рады оказать вам квалифицированную, а главное – быструю помощь в ее получении. От вас потребуется немного: по указанным контактам связаться с сотрудниками компании и оставить заявку. Как правило, уже в течение суток после выполнения этих несложных действий готовая справка о наличии средств на счету с суммой, удовлетворяющей требования посольств и консульств, оказывается в распоряжении клиента. Вот уже десять лет мы оказываем услуги по оформлению банковских справок без выходных и перерывов в работе, и все отзывы, полученные за это время, исключительно положительные. Связаться с нами можно наиболее удобным для вас способом:
						ul
							li По указанным телефонам.
							li Через форму заявки на сайте.
	// end s-about