
mixin modal() 
 
	//- #modal-win.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-win', aria-hidden='true')
		
	//- 	div( class="   modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			+input("tel","Введите ваш телефон")(name="tel" required) 
				
	//- 			+e.BUTTON.btn.btn.btn-accent.btn-block Отправить
	//- 			+b.wrap-polite
	//- 				+b.custom-input.polite
	//- 					+b.LABEL.custom-input.polite
	//- 						+e.INPUT.input.__input-radio(type="checkbox" checked name="polite" required value="")
	//- 						+e.SPAN.lab
	//- 						| Даю 
	//- 						| 
	//- 						span.link( data-toggle='modal', data-target='#exampleModal2') согласие 

	//- 						| на хранение и обработку   персональных данных
	
 

	//- #thanks.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanks', aria-hidden='true')
	//- 	div( class=" ttext-center  modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			br
	//- 			.h2 Заявка принята
	//- 			br
	//- 			.h3 Скоро с Вами свяжутся
	//- 			br 

	+form-wrap('Modal form')(id="modal-call" class="zoom-anim-dialog mfp-hide modal-win modal-form" )
		+e.title Оформить заявку на справку о доходах
		+input("","ФИО")(name='name' required)
		+e.input-wrap.form-group
			+e.SELECT.input(name='city')
				option Ваш город
				option 1
				option 1
				option 1
		+input("","Сумма (в валюте) в справке")(name='summ')
		+input("tel","Телефон для связи")(name='tel' required)
		+ta("Доп. данные (серия, номер,  код подразделения и др.)")(name='add')
		.btn-slide
			+b.BUTTON.btn.btn-primary(type="submit") Оформить заявку
		+e.A.link.scroll-link(href="/#s-data") Перечень необходимых данных
	// #modal-call
	// modal
	
	
	+form-wrap()(id="modal-phone" class="zoom-anim-dialog mfp-hide modal-win modal-form" )
		+e.title Свяжитесь с нами!
		.btn-slide
			a.btn.btn-primary(href='tel:+74951084392') 
				+e.city Москва:
				+e.phone +7 (495) 108-43-92
		.btn-slide
			a.btn.btn-primary(href='tel:+74951084392') 
				+e.city Санкт-Петербург:
				+e.phone +7 (495) 108-43-92
		.btn-slide
			a.btn.btn-primary(href='tel:+74951084392') 
				+e.city Новосибирск:
				+e.phone +7 (495) 108-43-92
	// #modal-call
	// modal