mixin s-accordion()
	// start s-accordion
	+b.s-accordion.section.block-with-lazy#s-accordion&attributes(attributes)
		.container
			.main-block
				.accordeon
					.accordeon-head.active
						+e.header-text Имеет ли значение, из какого банка мне необходима справка?
					.accordeon-body.active-body
						+e.body-text На сегодняшний день наша компания готова предоставить документы из банков, пользующихся наибольшим спросом у клиентов. Чаще всего запросы поступают на справки из ВТБ, Сбербанка, банков Альфа и Тинькофф. Но это не означает, что если вы запросите документ из другой финансовой организации, мы вам откажем: просто позвоните нашим менеджерам и получите максимально детальную консультацию.
					.accordeon-head 
						+e.header-text Выданные справки – поддельные?
					.accordeon-body
						+e.body-text В отличие от множества сомнительных сервисов, выдающих просто «бумажки», мы работаем исключительно с оригиналами. Проще говоря, если справка должна будет иметь отличительные особенности – они на ней будут; если требуется внесение в реестры – все будет соблюдено. Ни одна проверка не покажет, что вы воспользовались услугами посредников.
					.accordeon-head 
						+e.header-text Куда приехать, чтобы оформить справку?
					.accordeon-body
						+e.body-text Мы понимаем, что наиболее часта причина оформления такого рода документов – банальная нехватка времени. Мы позволяем его сэкономить, поэтому вы просто оставляете заявку на сайте или звоните по контактному номеру – и в оговоренные сроки курьер доставит ваш заказ в удобное место.прививках.
					.accordeon-head 
						+e.header-text Как долго ждать выполнения заказа?
					.accordeon-body
						+e.body-text Как правило, те, кто располагает временем, ищут другие варианты получения справок из банка. Мы помогаем тем, кто ценит свое время, поэтому готовы выполнить ваш заказ не позднее, чем на протяжении суток с момента его оформления.
					.accordeon-head 
						+e.header-text Какую сумму нужно указывать при оформлении заявки?
					.accordeon-body
						+e.body-text Ваш заказ – это, прежде всего, решение ваших проблем, поэтому вы сами принимаете решение о размере необходимой для этого суммы. При приеме заказа наши менеджеры могут лишь дать совет относительно данного параметра, так как многолетний опыт работы позволяет нам предположить, какая сумма для той или иной инстанции будет оптимальной.
					.accordeon-head 
						+e.header-text Где примут выданную вами справку?
					.accordeon-body
						+e.body-text Везде. В какой бы инстанции в составе пакета требуемых документов не значилась справка из банка, мы способны помочь в решении вопроса.
					.accordeon-head 
						+e.header-text Есть ли ограничение в сроках?
					.accordeon-body
						+e.body-text Как правило, инстанции, требующие справки из банка, указывают, какой именно временной период их устроит. Если в оставленной заявке останутся неточности, касающиеся данного параметра, менеджер уточнит детали в телефонном режиме.
					.accordeon-head 
						+e.header-text А вдруг посольство захочет проверить подлинность справки – банк подтвердит, что выдавал ее мне?
					.accordeon-body
						+e.body-text Информация, указанная в такого рода документах, является банковской тайной. Работники посольств прекрасно понимают, что никто ее разглашать не будет, поэтому обзвонка банков на предмет того, правдива ли указанная в выданных ими справках информация, не проводится.
					.accordeon-head 
						+e.header-text Какие печати вы используете?
					.accordeon-body
						+e.body-text Только оригинальные мокрые печати с указанием реальных реквизитов действующих банков. Выданная справка ничем не будет отличаться от аналогичного документа, полученного непосредственно в банковских организациях.
					.accordeon-head 
						+e.header-text Предоставляете ли вы документ для ВНЖ?
					.accordeon-body
						+e.body-text Да, и для этой цели тоже подойдет оформленная у нас банковская справка.
					.accordeon-head 
						+e.header-text Какие гарантии вы предоставляете?
					.accordeon-body
						+e.body-text Лучшая гарантия – это десятилетний опыт работы и тысячи довольных клиентов, практически каждый из которых обращается на регулярной основе и советует нас своим знакомым. Ни одна выданная нами справка не была признана фальсифицированной.
					.accordeon-head 
						+e.header-text Вы работаете по предоплате?
					.accordeon-body
						+e.body-text Нет, мы доверяем своим клиентам, а потому расчет производится только после того, как готовый документ окажется в ваших руках. По этой причине мы не осуществляем отправок почтовыми службами – исключительно передача из рук в руки. Чтобы узнать о возможности получения справки из банка в вашем городе, свяжитесь с нашими специалистами.
				+b.autor
					+e.autor-text Администрация сайта "
					+e.A.link(href="#") Spravki-bank.com
						|"
	// end s-accordion