mixin s-accordion()
	// start s-accordion
	+b.SECTION.s-accordion.section.block-with-lazy#s-accordion&attributes(attributes)
		.container
			.main-block
				.accordeon
					.accordeon-head.active
						+e.header-text Зачем мне и моему ребенку нужна справка 026 у?
					.accordeon-body.active-body
						+e.body-text Документ требуют от&nbsp;родителей при зачислении детей в&nbsp;образовательное учреждение. Первый раз его от&nbsp;вас потребуют, когда вы&nbsp;решите отдать малыша в&nbsp;детсад. Затем придется предоставить его при оформлении в&nbsp;первый класс. Справка нужна в&nbsp;случае перевода из&nbsp;одного дошкольного учреждения в&nbsp;другое.
					.accordeon-head 
						+e.header-text Форма 026 у: как она выглядит?
					.accordeon-body
						+e.body-text Это не&nbsp;одностраничный бланк, как многие другие детские справки от&nbsp;врачей. Форма 026/у&nbsp;&mdash; это многостраничная справка. Официальный бланк справки состоит из&nbsp;33&nbsp;страниц. Размер справки соответствует формату&nbsp;А4.
					.accordeon-head 
						+e.header-text Какие записи содержит справка 026 формы
					.accordeon-body
						+e.body-text В&nbsp;ней изложена краткая история здоровья и&nbsp;развития ребенка. <br>Информация разделена на&nbsp;11&nbsp;разделов. Каждый из&nbsp;них посвящен отдельной теме. Так, в&nbsp;форме 026/у есть данные о&nbsp;росте и&nbsp;весе ребенка при рождении, отражена динамика увеличения этих показателей. Отдельный блок посвящен всем перенесенным болезням. Особенное внимание уделено специфическим детским инфекциям: краснухе, ветрянке. В&nbsp;справке содержатся данные о&nbsp;плановых осмотрах у&nbsp;специалистов и&nbsp;результаты обследований. Обязательно есть информация о&nbsp;прививках.
					.accordeon-head 
						+e.header-text Действует ли справка 026/у при переводе в другой детский сад?
					.accordeon-body
						+e.body-text Документ рассчитан на&nbsp;постоянное пополнение новыми сведениями. В&nbsp;нем специально отведено место для записей в&nbsp;процессе роста ребенка. Поэтому оформлять его несколько раз не&nbsp;нужно. Справка 026/у заводится на&nbsp;ребенка один раз и&nbsp;действует при переводе в&nbsp;другой детский сад или в&nbsp;школу. Если документ по&nbsp;какой-либо причине утрачен, то&nbsp;его можно восстановить после обращения в&nbsp;поликлинику.
					.accordeon-head 
						+e.header-text Каких врачей предстоит посетить, если нужна справка <br>026/у?
					.accordeon-body
						+e.body-text Документ заполняет не&nbsp;один врач, а&nbsp;коллектив врачей. Вам вместе с&nbsp;ребенком нужно посетить педиатра, а&nbsp;также записаться на&nbsp;прием к&nbsp;профильным специалистам. В&nbsp;обязательном перечне есть хирург, дерматолог, ЛОР и&nbsp;окулист. Также независимо от&nbsp;возраста нужна консультация логопеда и&nbsp;психолога. Кроме того, здесь ведут записи стоматолог и&nbsp;невролог.
					.accordeon-head 
						+e.header-text Что я должен написать в форме заявки на вашем сайте?
					.accordeon-body
						+e.body-text Учитывая специфику документа, вам нужно предоставить стандартный минимум данных. Они важны для корректного заполнения. К&nbsp;ним относятся: перенесенные ребенком заболевания, сделанные до&nbsp;текущего момента профилактические меры, данные полиса ОМС. Не&nbsp;забудьте указать правильный рост и&nbsp;вес ребенка, а&nbsp;также разборчиво напишите полностью его фамилию, имя, отчество и&nbsp;адрес регистрации. Для быстрой обратной связи укажите свои ФИО, контактный телефон и&nbsp;место проживания.
					.accordeon-head 
						+e.header-text Сколько справка 026/у на вашем сайте
					.accordeon-body
						+e.body-text Базовая цена фиксированная&nbsp;&mdash; 5000&nbsp;рублей. Но&nbsp;не&nbsp;забывайте, что иногда стоимость может быть выше в&nbsp;зависимости от&nbsp;объема записей и&nbsp;других особенностей в&nbsp;каждом индивидуальном случае. Точную стоимость вы&nbsp;всегда узнаете по&nbsp;телефону.
					.accordeon-head 
						+e.header-text Как сделать заказ на сайте?
					.accordeon-body
						+e.body-text Заполните все поля формы онлайн-заявки и&nbsp;нажмите кнопку &laquo;Отправить&raquo;. После этого ваш заказ поступит в&nbsp;обработку к&nbsp;нашим сотрудникам. Они свяжутся с&nbsp;вами по&nbsp;указанному телефону для подтверждения заказа.
					.accordeon-head 
						+e.header-text Как получить справку?
					.accordeon-body
						+e.body-text Вам доставят документ на&nbsp;дом или на&nbsp;работу. Стоимость адресной доставки&nbsp;&mdash; 500&nbsp;рублей. Вы&nbsp;всегда можете воспользоваться бесплатным вариантом и&nbsp;забрать документ у&nbsp;курьера на&nbsp;одной из&nbsp;кольцевых станций метро.
				+b.autor
					+e.autor-text Администрация сайта "
					+e.A.link(href="#") Spravki-026.com
						|"
	// end s-accordion