mixin s-about-company()
	// start s-about-company
	+b.SECTION.s-about-company.section.block-with-lazy#s-about-company&attributes(attributes)
		.container
			.main-block
				h2 Почему вы должны выбрать нас?
				p Ответ на&nbsp;этот вопрос у&nbsp;наших клиентов не&nbsp;вызывает сомнений. За&nbsp;10-летний период трудовой деятельности в&nbsp;сфере оформления медицинских документов мы&nbsp;накопили внушительный опыт. Мы&nbsp;умеем работать с&nbsp;людьми и&nbsp;решать любой вопрос, при этом готовы обсуждать индивидуальные условия в&nbsp;зависимости от&nbsp;конкретной ситуации. Мы&nbsp;оформим и&nbsp;доставим справку для ребенка, поступающего в&nbsp;детский сад или в&nbsp;школу, на&nbsp;выгодных для вас условиях.
				+e.strong-text Узнайте о наших преимуществах:
				+b.article-page.about-company-list
					ul
						li самый короткий срок выдачи – уже на следующий день после заявки;
						li документ заполняют действующие врачи из детской поликлиники;
						li низкая цена в сравнении с медицинскими центрами;
						li гарантия результата и прохождения в образовательном учреждении;
						li удобная доставка, в том числе бесплатный вариант по кольцевой линии метро.
				p Если у&nbsp;вас возник вопрос по&nbsp;поводу того, где купить справку 026&nbsp;у, смело выбирайте нашу компанию. В&nbsp;этом случае вы&nbsp;получите официальный бланк, и&nbsp;у&nbsp;вас не&nbsp;будет сложностей в&nbsp;дальнейшем при проверках документации в&nbsp;образовательных учреждениях.
				<br>
				<br>
				+e.article-block
					+e.IMG.article-img(src="img/about-company-img.jpg" alt="#")
					h3 Как мы работаем?
					p Нас часто спрашивают, как получить документ, нужно&nbsp;ли посещать врачей, приезжать в&nbsp;офис и&nbsp;выполнять другие хлопотные манипуляции. У&nbsp;нас для вас хорошая новость: процесс оформления проходит без вашего присутствия, полностью дистанционно. Нужно передать данные о&nbsp;ребенке через специальную форму на&nbsp;сайте. После обработки вашего запроса, мы&nbsp;гарантируем, что справка 026&nbsp;у за&nbsp;1&nbsp;день будет оформлена и&nbsp;готова к&nbsp;выдаче. Сотрудники нашей компании работают ежедневно, включая праздничные дни. Поэтому вы&nbsp;можете рассчитывать на&nbsp;нашу помощь именно в&nbsp;тот момент, когда она вам срочно нужна.
					p Документ заполняют не&nbsp;сотрудники офиса, а&nbsp;практикующие врачи. Этим мы&nbsp;выгодно отличаемся от&nbsp;многих компаний, предлагающих услуги по&nbsp;оформлению справок сомнительного качества. Обращение к&nbsp;нам&nbsp;&mdash; это гарантия того, что ваш ребенок будет зачислен в&nbsp;детский сад или в&nbsp;школу без вопросов со&nbsp;стороны медработников и&nbsp;администрации. Основная деятельность нашей компании&nbsp;&mdash; это оформление медицинских справок 026/у на&nbsp;самых выгодных условиях для клиентов. Оставляйте заявку, и&nbsp;вы&nbsp;получите результат, которым останетесь довольны.
				+b.autor
					+e.autor-text Администрация сайта "
					+e.A.link(href="#") Spravki-026.com
					|"
	// end s-about-company