mixin s-about-company-top()
	// start s-about-company
	+b.SECTION.s-about-company.about-top.section.block-with-lazy&attributes(attributes)
		.container
			.main-block
				h2 О компании "Spravki-bank.com"
				p В жизни каждого человека рано или поздно наступает момент, когда ему необходимо выехать за рубеж. Хорошо, если местом назначения выбраны страны, в которых действует безвизовый режим, и гражданину достаточно заграничного биометрического паспорта. Но в большинстве государств требуется все-таки сначала получить визу – разрешение на посещение ее территории. И для этого необходимо обратиться в посольство и предоставить целый пакет документов. Среди них указывается и справка из банка, подтверждающая ваше финансовое благополучие.
				p Справка о состоянии счета является обязательным документом для получения разрешения. Посольства мало интересуются истинными причинами посещения их страны. Ее сотрудников больше волнует, не имеете ли вы намерения остаться в их государстве в качестве нелегала. Если справка из банка подтверждает состоятельность будущего гостя, финансовая информация за последние три месяца внушает доверие, и на счету имеется приемлемая сумма дохода, виза будет оформлена беспрепятственно.
	// end s-about-company


mixin s-about-company()
	// start s-about-company
	+b.SECTION.s-about-company.section.block-with-lazy&attributes(attributes)
		.container
			.main-block
				h2 Сложности получения справок из банка для получения визы
				//- p Ответ на&nbsp;этот вопрос у&nbsp;наших клиентов не&nbsp;вызывает сомнений. За&nbsp;10-летний период трудовой деятельности в&nbsp;сфере оформления медицинских документов мы&nbsp;накопили внушительный опыт. Мы&nbsp;умеем работать с&nbsp;людьми и&nbsp;решать любой вопрос, при этом готовы обсуждать индивидуальные условия в&nbsp;зависимости от&nbsp;конкретной ситуации. Мы&nbsp;оформим и&nbsp;доставим справку для ребенка, поступающего в&nbsp;детский сад или в&nbsp;школу, на&nbsp;выгодных для вас условиях.
				//- +e.strong-text Узнайте о наших преимуществах:
				//- +b.article-page.about-company-list
				//- 	ul
				//- 		li самый короткий срок выдачи – уже на следующий день после заявки;
				//- 		li документ заполняют действующие врачи из детской поликлиники;
				//- 		li низкая цена в сравнении с медицинскими центрами;
				//- 		li гарантия результата и прохождения в образовательном учреждении;
				//- 		li удобная доставка, в том числе бесплатный вариант по кольцевой линии метро.
				//- p Если у&nbsp;вас возник вопрос по&nbsp;поводу того, где купить справку 026&nbsp;у, смело выбирайте нашу компанию. В&nbsp;этом случае вы&nbsp;получите официальный бланк, и&nbsp;у&nbsp;вас не&nbsp;будет сложностей в&nbsp;дальнейшем при проверках документации в&nbsp;образовательных учреждениях.
				//- <br>
				//- <br>
				+e.article-block
					+e.img-wrap
						+e.IMG.article-img(src="img/about1.jpg" alt="#")
					p Справка о наличии средств на счету заказывается в финансовом учреждении (банке), в котором у вас имеется личный счет. Он может быть открыт для начисления заработной платы, для личных нужд или в качестве депозитного. Но почему не всех устраивает классический способ получения такой справки?
					p Причина первая: справка о состоянии счета выдается банком, если у граждан в нем имеются эти самые счета. Но такового может и не быть у человека, и вариант срочно открыть его и положить на него необходимую сумму денег также не всегда приемлем.
					p Причина вторая и наиболее распространенная: минимальная сумма дохода не соответствует требованиям принимающей стороны. Хорошо, что разрешается, чтобы справка из банка для визы отражала информацию о нескольких денежных счетах (финансы на заработной карте и депозитной), но это не всегда решает проблему.
					p Третья причина: ваши счета заблокированы, а главное условие для пересечения границы – это доступность финансов, на которые планирует жить все это время человек, пересекающий границу. Еще одна причина: надлежаще оформленная оригинальная выписка из банка с мокрой печатью и указанной нужной для каждого конкретного посольства минимальной суммой дохода должна быть оформлена не ранее, чем за месяц до посещения визового центра. Что делать в случаях, если сроки поджимают, или времени за заказ справки из банка нет? Для 100% положительного результата при обращении в посольство за визой вам достаточно обратиться с заявкой на наш сайт, и справка из банка для визы будет у вас на руках уже через сутки.
				+e.article-block
					+e.img-wrap
						+e.IMG.article-img(src="img/about2.jpg" alt="#")
					h3 Почему стоит обращаться за услугами к нам?
					p Наша компания благополучно оказывает услуги по получению различных справок из банковских и финансовых учреждений уже без малого десятилетие. Мы работаем в крупнейших городах страны, сотрудничаем с лучшими банками, которые предоставляют нам свои официальные бланки. Наши клиенты не просто имеют возможность заказать справку из банка для визы в любое время суток и в любой день недели. Они могут выбирать эти самые банки из предложенного списка, сумму дохода, который им хочется, чтобы был зафиксирован в справке, могут попросить оформить ее на иностранном языке (такое часто требуют посольства) или получить бесплатную консультацию от наших специалистов касательно любого вопроса о справке про состояние счета для визы.
					p Помимо бумажного подтверждения финансовой состоятельности клиента мы поможем с предоставлением ксерокопии банковской карты (обе стороны), если того требуют правила предоставления визы. Даже если с точки зрения западных представителей вы потенциально проблемный визитер в их страну, наша справка из банка убедит их в обратном, и даже сомнений не оставит на ваш счет. Сотни людей с нашей помощью без проблем получали и получают сейчас визы в разные страны. Мы гарантируем, что финансовое обеспечение вашего путешествия с нашей помощью будет доказано, и когда будет рассматриваться вопрос в выдачи визы, наша справка из банка для визы может стать решающим аргументом для изменения решения в положительную сторону.
				+b.autor
					+e.autor-text Администрация сайта "
					+e.A.link(href="#") Spravki-bank.com
					|"
	// end s-about-company