mixin s-articles()
	// start s-articles
	+b.SECTION.s-articles.section.block-with-lazy#s-articles&attributes(attributes)
		.container
			.main-block
				+e.item
					+e.IMG.item-image(src="img/article1.jpg" alt="#")
					H3 Диспансеризация ребенка по форме 026/у - что нужно знать?
					p Оформление в&nbsp;дошкольное учреждение невозможно без посещения врачей. Поэтому родители должны заранее настроиться на&nbsp;то, что их&nbsp;ждет длительная диспансеризация ребенка в&nbsp;местной поликлинике. Они должны знать все этапы прохождения процедуры. Это поможет оформить справку 026&nbsp;у быстро и&nbsp;без проблем. Часто родители уверены в&nbsp;здоровье своих детей и&nbsp;не&nbsp;понимают, зачем нужно ходить по&nbsp;врачам.
					+e.A.item-link(href="02-dispanserizacia-rebenka-po-forme-026-chto-nuzno-znat.html") Читать далее >>
				+e.item
					+e.IMG.item-image(src="img/article2.jpg" alt="#")
					H3 Как и где заказать справку 026/у в интернете?
					p Посещать врачей важно для проверки здоровья. Но&nbsp;часто бывает так, что эта мера нужна только ради соблюдения строгих порядков оформления в&nbsp;различные учреждения. Именно так происходит, когда требуют заказать справку 026&nbsp;у и&nbsp;предоставить ее&nbsp;администрации образовательных учреждений. Сначала документ необходим при первичном оформлении в&nbsp;ясли или любую группу детского сада. Затем его потребуют при зачислении в&nbsp;первый класс школы. Часто для родителей оформление предполагает много трудностей и&nbsp;неудобств. Это не&nbsp;простой бланк, как многие думают, а&nbsp;книжка из&nbsp;30&nbsp;страниц. Поэтому если вам нужно срочно зачислить ребенка в&nbsp;учреждение, то&nbsp;сделать это очень проблематично.
					+e.A.item-link(href="03-kak-i-gde-zakazat-spravku.html") Читать далее >>
				+e.item
					+e.IMG.item-image(src="img/article3.jpg" alt="#")
					H3 Когда требуется медицинская справка ребенка 026/у
					p Родители могут изначально не&nbsp;собираться отдавать ребенка в&nbsp;дошкольное учреждение, однако часто жизнь поворачивается так, что планы меняются. Именно поэтому медицинская справка ребенка может потребоваться не&nbsp;просто срочно, а&nbsp;буквально &laquo;вчера&raquo;.
					+e.A.item-link(href="04-kogda-trebuetca-medicinskaya-spravka.html") Читать далее >>
				+e.item
					+e.IMG.item-image(src="img/article4.jpg" alt="#")
					H3 Особенности оформления и заполнения бланка справки 026/у
					p Каким способом получить бланк справки 026&nbsp;У&nbsp;&mdash; решать исключительно родителям, занимающимся оформлением ребенка в&nbsp;детсад или школу. Однако тем, кто решил воспользоваться услугами посредника, следует быть осторожными: к&nbsp;сожалению, в&nbsp;Сети нередко можно столкнуться с&nbsp;мошенниками, которые продают фиктивные справки, не&nbsp;выдерживающие элементарной проверки. Чтобы избежать разочарования и&nbsp;напрасной траты временных, моральных и&nbsp;материальных ресурсов, следует знать особенности оформления и&nbsp;пользоваться услугами только проверенных посредников.
					+e.A.item-link(href="05-osobennosti-oformleniya-i-zapolneniya.html") Читать далее >>
				+e.item
					+e.IMG.item-image(src="img/article5.jpg" alt="#")
					H3 Обязательна ли мед справка для школы 026/у при поступлении в первый класс
					p Оформление ребенка в&nbsp;первый класс и&nbsp;все связанные с&nbsp;этим процессом хлопоты&nbsp;&mdash; серьезное испытание не&nbsp;только для нервов родителей будущего школьника, но&nbsp;и&nbsp;для их&nbsp;кошельков. И&nbsp;когда, казалось&nbsp;бы, уже все собрано и&nbsp;можно с&nbsp;облегчением выдохнуть, появляется еще одно препятствие: мед справка для школы по&nbsp;форме 026&nbsp;У, без предоставления которой ребенка обещают не&nbsp;допустить до&nbsp;занятий. Насколько законны такие требования администрации?
					+e.A.item-link(href="06-obyazatelna-li-med-spravka-dla-skoli.html") Читать далее >>
				+e.item
					+e.IMG.item-image(src="img/article6.jpg" alt="#")
					H3 Когда нужно предоставлять медицинскую справку в детский сад?
					p В&nbsp;зависимости от&nbsp;того, в&nbsp;каком возрасте ребенок отправляется в&nbsp;ДОУ впервые, будет отличаться информация, которую должна содержать медицинская справка в&nbsp;детский сад. Так, к&nbsp;примеру, при поступлении в&nbsp;ясельную группу нет необходимости в&nbsp;заключении логопеда. Эти и&nbsp;другие нюансы будет не&nbsp;лишним знать родителям, оформляющим своего ребенка в&nbsp;детсад.
					+e.A.item-link(href="07-kogda-nuzno-predostavlat-medisinskuyu-spravku.html") Читать далее >>
				+e.item
					+e.IMG.item-image(src="img/article7.jpg" alt="#")
					H3 Зачем вашему ребенку нужна форма 026/у-2000?
					p При оформлении ребенка в&nbsp;детский сад либо в&nbsp;школу абсолютно все должны предоставить медицинскую справку. Это регулируется Федеральным законом &#8470;&nbsp;323, а&nbsp;также приказами 2562 и&nbsp;1346н. Следует понимать, что в&nbsp;случае, если форма 026/у-2000 своевременно не&nbsp;будет предоставлена, ребенка могут не&nbsp;допустить до&nbsp;занятий или запретить его пребывание в&nbsp;ДОУ.
					+e.A.item-link(href="08-zachem-vasemu-rebenku-nuzna-forma.html") Читать далее >>
				+e.item
					+e.IMG.item-image(src="img/article8.jpg" alt="#")
					H3 Список врачей необходимый для получения справки 026/у
					p При первом посещении ДОУ или оформлении ребенка в&nbsp;первый класс от&nbsp;родителей в&nbsp;обязательном порядке потребуют медицинскую справку. Необходимый список врачей для справки 026&nbsp;У предоставит участковый педиатр или семейный врач, кроме того, потребуется пройти ряд лабораторных исследований и&nbsp;дождаться их&nbsp;результатов.
					+e.A.item-link(href="09-spisok-vrasey-neobhodimih-dla-poluseniya.html") Читать далее >>
				+e.autor
					+e.text Администрация сайта "
					+e.A.link(href="#") Spravki-026.com
					|"
	// end s-articles