mixin s-articles()
	// start s-articles
	+b.SECTION.s-articles.section.block-with-lazy#s-articles&attributes(attributes)
		.container
			.main-block
				+e.item
					+e.img-wrap
						+e.IMG.item-image(src="img/article1.jpg" alt="#")
					H3 Как и где купить справку из банка для ВНЖ с&nbsp;необходимой суммой на&nbsp;счету?
					p Статусы за&nbsp;границей бывают разные. ВНЖ, или вид на&nbsp;жительство, является всего лишь одним из&nbsp;них. Он&nbsp;позволяет не&nbsp;только пересекать границу государства и&nbsp;проживать на&nbsp;его территории от&nbsp;трех месяцев до&nbsp;пяти лет. С&nbsp;этим документом у&nbsp;иностранца значительно больше прав, чем с&nbsp;долгосрочной визой. Для получения этого статуса необходимо обратиться в&nbsp;посольство желаемой страны и&nbsp;предоставить пакет документов, среди которых числится справка из&nbsp;банка для ВНЖ. При этом стоит помнить, что визовая политика каждой страны отличается друг от&nbsp;друга.
					+e.A.item-link(href="02-dispanserizacia-rebenka-po-forme-026-chto-nuzno-znat.html") Читать далее >>
				+e.item
					+e.img-wrap
						+e.IMG.item-image(src="img/article2.jpg" alt="#")
					H3 Справка о состоянии счета в&nbsp;Сбербанке - обязательный документ для визы и ВНЖ
					p Желаете&nbsp;ли вы&nbsp;отправиться в&nbsp;кругосветное путешествие или переехать жить в&nbsp;одну из&nbsp;стран Евросоюза, а, может, просто нанести визит родственникам за&nbsp;границей и&nbsp;принять участие в&nbsp;свадебном торжестве,&nbsp;&mdash; вам придется обратиться в&nbsp;посольство для оформления визового разрешения. В&nbsp;любом случае, от&nbsp;вас потребуется заполнение анкеты, написание заявления и&nbsp;пакет документов, куда обязательно войдет справка о&nbsp;состоянии счета. В&nbsp;Сбербанке обслуживается львиная доля граждан страны, и&nbsp;мы&nbsp;рассмотрим на&nbsp;его примере, как можно получить этот документ и&nbsp;какие к&nbsp;нему требования.
					+e.A.item-link(href="03-kak-i-gde-zakazat-spravku.html") Читать далее >>
				+e.item
					+e.img-wrap
						+e.IMG.item-image(src="img/article3.jpg" alt="#")
					H3 Как получить справку из Сбербанка для визы или ВНЖ?
					p Если вы&nbsp;решились попросить в&nbsp;посольстве одной из&nbsp;стран Евросоюза ВНЖ или планируете отправиться в&nbsp;средиземноморские страны на&nbsp;курорт, вам придется пройти нелегкий бюрократический путь к&nbsp;своей цели. Для начала, необходимо собрать пакет документов, среди которых особенное внимание уделяется финансовым гарантиям заявителя, а&nbsp;точнее справке из&nbsp;Сбербанка для визы или ВНЖ.
					+e.A.item-link(href="04-kogda-trebuetca-medicinskaya-spravka.html") Читать далее >>
				+e.item
					+e.img-wrap
						+e.IMG.item-image(src="img/article4.jpg" alt="#")
					H3 На каком языке нужно предоставлять справку из банка для визы США?
					p Стандартные медицинские справки содержат не&nbsp;более двух страниц. Документом другой категории является детская карта 026&nbsp;у с&nbsp;большим количеством листов и&nbsp;записей. Она отражает результаты масштабного обследования, которое периодически возобновляется каждый год. Здоровье ребенка может измениться как в&nbsp;лучшую, так и&nbsp;в&nbsp;худшую сторону, также оно может остаться без изменений. В&nbsp;любом случае его состояние в&nbsp;разные периоды развития подробно изучается врачами и&nbsp;фиксируется в&nbsp;соответствующих графах карты.
					+e.A.item-link(href="05-osobennosti-oformleniya-i-zapolneniya.html") Читать далее >>
				+e.item
					+e.img-wrap
						+e.IMG.item-image(src="img/article5.jpg" alt="#")
					H3 Как получить справку из банка для визы в Грецию за 24 часа?
					p Одной из&nbsp;самых великолепных стран на&nbsp;нашей планете, с&nbsp;богатой историей, захватывающими дух достопримечательностями и&nbsp;горизонтами, а&nbsp;также известными на&nbsp;весь мир курортами является Греция. Если у&nbsp;вас появилась цель посетить эту удивительную средиземноморскую страну, вам необходимо оформить визу. Мы&nbsp;расскажем о&nbsp;том, что для этого нужно и&nbsp;зачем вам справка из&nbsp;банка для визы в&nbsp;Грецию.
					+e.A.item-link(href="06-obyazatelna-li-med-spravka-dla-skoli.html") Читать далее >>
				+e.item
					+e.img-wrap
						+e.IMG.item-image(src="img/article6.jpg" alt="#")
					H3 Нужна ли справка из банка для оформления английской визы?
					p Для того, чтобы оформить визу в&nbsp;Великобританию, следует собрать пакет необходимых бумаг. Документы принимаются на&nbsp;рассмотрение в&nbsp;консульстве или посольстве. Одним из&nbsp;таких обязательных документов является справка из&nbsp;банка для английской визы.
					+e.A.item-link(href="07-kogda-nuzno-predostavlat-medisinskuyu-spravku.html") Читать далее >>
				+e.item
					+e.img-wrap
						+e.IMG.item-image(src="img/article7.jpg" alt="#")
					H3 Что делать если срочно нужна справка из банка для визы в Германию?
					p Получение визы&nbsp;&mdash; дело очень хлопотное. Каждая страна пытается обезопасить себя от&nbsp;посещений несостоятельных и&nbsp;подозрительных иностранных граждан. Германия относится к&nbsp;туристам особо щепетильно и&nbsp;осторожно. Для приятного и&nbsp;безопасного путешествия не&nbsp;обойтись без справки из&nbsp;банка для визы в&nbsp;Германию.
					+e.A.item-link(href="08-zachem-vasemu-rebenku-nuzna-forma.html") Читать далее >>
				+e.item
					+e.img-wrap
						+e.IMG.item-image(src="img/article8.jpg" alt="#")
					H3 Сколько денег должно быть указано в справке из банка для визы в Чехию?
					p Заполненная справка из&nbsp;банка для визы в&nbsp;Чехию входит в&nbsp;обязательный перечень бумаг, подаваемых на&nbsp;рассмотрение сотрудникам посольства или консульства. Долгосрочное нахождение на&nbsp;территории другой страны требует высокого уровня финансового достатка будущего гостя, поэтому данный бланк является одним из&nbsp;главных факторов, который влияет на&nbsp;принятие решения сотрудниками консульства или посольства о&nbsp;предоставлении визы туристам.
					+e.A.item-link(href="09-spisok-vrasey-neobhodimih-dla-poluseniya.html") Читать далее >>
				+e.item
					+e.img-wrap
						+e.IMG.item-image(src="img/article9.jpg" alt="#")
					H3 Какая сумма должна отражаться в справке из банка для визы в Испанию?
					p Всем гражданам, желающим получить разрешение на&nbsp;выезд в&nbsp;посольстве Испании, необходимо предоставлять информацию по&nbsp;своей финансовой благонадежности. Этим документом является справка из&nbsp;банка для визы в&nbsp;Испанию. Именно этой бумагой можно убедить консула, что заявитель имеет предостаточно финансов (в&nbsp;любой валюте) для пребывания на&nbsp;территории его страны.
					+e.A.item-link(href="09-spisok-vrasey-neobhodimih-dla-poluseniya.html") Читать далее >>
				+e.autor
					+e.text Администрация сайта "
					+e.A.link(href="#") Spravki-bank.com
					|"
	// end s-articles