mixin s-order-advantages()
	// start s-order-advantages
	+b.SECTION.s-order-advantages.section.block-with-lazy#s-order-advantages&attributes(attributes)
		.container
			.main-block
				h2.block-title Заказывая у нас справку 026, <br>Вы гарантированно получите:
				+e.row.row
					+e.col.col-12.col-md-6
						+e.item Качественный документ <br>в течение суток
					+e.col.col-12.col-md-6
						+e.item Соответствие стандартам, <br>нормам законодательства
					+e.col.col-12.col-md-6
						+e.item Использование настоящих бланков, печатей, штампов
					+e.col.col-12.col-md-6
						+e.item Оперативную и бесплатную  доставку по кольцевой линии метрополитена в Москве
					+e.col.col-12.col-md-6
						+e.item Возможность оплаты по факту получения справки
					+e.col.col-12.col-md-6
						+e.item Полную конфиденциальность
	// end s-order-advantages