extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-buy/_s-buy.pug
include ../blocks/s-order-advantages/_s-order-advantages.pug
include ../blocks/s-data/_s-data.pug
include ../blocks/s-mark-advantages/_s-mark-advantages.pug
include ../blocks/s-order-now/_s-order-now.pug
include ../blocks/s-deliver-city/_s-deliver-city.pug
include ../blocks/s-reviews/_s-reviews.pug
include ../blocks/s-price/_s-price.pug
include ../blocks/s-articles/_s-articles.pug

block title
	title Каталог статей по теме получения детской медицинской справки 026у в Москве 

block pagecontent
	+mob-mnu()
	+header()
		//- +top-line()
		+top-nav()

	+modal-btn()
	+b.article-page
			.container
				+e.main-block
					+e.IMG.back-image(src="img/life.png" alt="#")
					H1 Диспансеризация ребенка по форме 026/у - что нужно знать?
					.block-with-sticky
						+sticky-block()(class="articles-page-sticky")
						.main-block
							+e.IMG.image(src="img/dispanserizacia-rebenka.jpg" alt="#")
							
							+e.item
								h3 Зачем нужна диспансеризация ребенка <br>для справки 026/у?
								p Оформление в&nbsp;дошкольное учреждение невозможно без посещения врачей. Поэтому родители должны заранее настроиться на&nbsp;то, что их&nbsp;ждет длительная диспансеризация ребенка в&nbsp;местной поликлинике. Они должны знать все этапы прохождения процедуры. Это поможет оформить справку 026&nbsp;у быстро и&nbsp;без проблем. Часто родители уверены в&nbsp;здоровье своих детей и&nbsp;не&nbsp;понимают, зачем нужно ходить по&nbsp;врачам.
								p Но&nbsp;оформление документа по&nbsp;всем правилам является обязательным условием зачисления в&nbsp;детский коллектив. Это строгое требование объясняется тем, что иммунитет дошкольников очень нестойкий, в&nbsp;данной среде быстро распространяются любые инфекционные заболевания. Достаточно пустить в&nbsp;группу одного зараженного малыша, и&nbsp;неминуемо начинается эпидемия. Ранняя диспансеризация ребенка необходима не&nbsp;только ради соблюдения условностей. Бывают ситуации, когда прохождение осмотров разных специалистов помогают выявить отклонения от&nbsp;нормы в&nbsp;развитии.
							+e.item
								h3 Как проходит диспансеризация ребенка?
								p За&nbsp;один день оформить документ невозможно. В&nbsp;него вносят много данных, которые предстоит собирать в&nbsp;течение нескольких недель при условии, что дошкольник проходил все плановые обследования и&nbsp;прививки. В&nbsp;первую очередь нужно посетить педиатра. Он&nbsp;просмотрит амбулаторную справку, проанализирует общее состояние пациента и&nbsp;выпишет направление к&nbsp;врачам. В&nbsp;некоторых учреждениях направления выдает медицинский работник детсада. Полная диспансеризация ребенка включает в&nbsp;себя осмотр от&nbsp;практически всех специалистов. Также предстоит сдать ряд анализов, а&nbsp;по&nbsp;усмотрению врача может потребоваться делать УЗИ и&nbsp;проходить другие более детальные обследования. Кроме педиатра нужно посетить минимум восемь других специалистов при условии хорошего здоровья. Если у&nbsp;пациента уже были зафиксированы ранее проблемы со&nbsp;здоровьем, то&nbsp;список врачей и&nbsp;обследований увеличится.
								p Согласно последним требованиям в&nbsp;обязательный список включены психолог и&nbsp;логопед. Как и&nbsp;раньше, всех детей обязательно осматривают дерматолог, ЛОР и&nbsp;офтальмолог. Для комиссии важное значение имеет заключение невролога, а&nbsp;также фтизиатра об&nbsp;отсутствии инфекционных заболеваний. Плановая диспансеризация ребенка предполагает проверку проставленных прививок согласно национальному календарю. Для зачисления в&nbsp;детский сад должен быть оформлен прививочный сертификат. Всегда нужно знать, что время прохождения комиссии зависит от&nbsp;разных факторов и&nbsp;может занять как несколько дней, так и&nbsp;больше месяца. Многое в&nbsp;этом вопросе зависит от&nbsp;графика работы и&nbsp;загруженности специалистов.
							+e.item
								h3 Можно ли пройти диспансеризацию быстрее?
								p Есть несколько способов, которые облегчают процесс обследования дошкольников. О&nbsp;них нужно помнить занятым родителям. Первый из&nbsp;них&nbsp;&mdash; это постоянное прохождение всех плановых процедур. Если амбулаторная справка содержит все необходимые данные, а&nbsp;пациент с&nbsp;самого рождения находился под наблюдением и&nbsp;проходил плановые осмотры, то&nbsp;диспансеризация ребенка займет меньше времени. Другой важный момент&nbsp;&mdash; это ранняя запись на&nbsp;приемы к&nbsp;врачам. К&nbsp;некоторым специалистам всегда длинная очередь, и&nbsp;попасть к&nbsp;ним в&nbsp;сжатые сроки бывает очень сложно. Но&nbsp;если записаться заранее, то&nbsp;вполне реально уложиться в&nbsp;рекордно короткий срок. Также можно оформить документ за&nbsp;один день. Для этого предусмотрен дистанционный способ записи на&nbsp;получение справки.
							+e.autor
								+e.autor-text Администрация сайта "
								+e.A.link(href="#") Spravki-026.com
								|"

	+footer()

