extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-buy/_s-buy.pug
include ../blocks/s-order-advantages/_s-order-advantages.pug
include ../blocks/s-data/_s-data.pug
include ../blocks/s-mark-advantages/_s-mark-advantages.pug
include ../blocks/s-order-now/_s-order-now.pug
include ../blocks/s-deliver-city/_s-deliver-city.pug
include ../blocks/s-reviews/_s-reviews.pug
include ../blocks/s-price/_s-price.pug
include ../blocks/s-articles/_s-articles.pug

block title
	title Когда требуется медицинская справка ребенка 026/у

block pagecontent
	+mob-mnu()
	+header()
		//- +top-line()
		+top-nav()
	+modal-btn()
	+b.article-page
			.container
				+e.main-block
					+e.IMG.back-image(src="img/life.png" alt="#")
					h1 КОГДА ТРЕБУЕТСЯ МЕДИЦИНСКАЯ СПРАВКА РЕБЕНКА 026/У
					.block-with-sticky
						+sticky-block()(class="articles-page-sticky")
						.main-block
							+e.IMG.image(src="img/kogda-trebuetca-medicinskaya-spravka.jpg" alt="#")
							
							+e.item
								p Родители могут изначально не&nbsp;собираться отдавать ребенка в&nbsp;дошкольное учреждение, однако часто жизнь поворачивается так, что планы меняются. Именно поэтому медицинская справка ребенка может потребоваться не&nbsp;просто срочно, а&nbsp;буквально &laquo;вчера&raquo;.
							+e.item
								h3 В каких случаях требуется справка 026/у
								p Данный документ не&nbsp;является стабильным или предназначенным для разового предоставления: медицинская справка ребенка по&nbsp;форме 026&nbsp;У представляет собой книжечку, в&nbsp;которую внесены все данные, необходимые для определенного возраста конкретного ребенка. Впервые ее&nbsp;требуют при оформлении ребенка в&nbsp;учебное учреждение&nbsp;&mdash; дошкольное либо школу, если детсад соискатель не&nbsp;посещал. На&nbsp;протяжении последующих лет в&nbsp;документ добавляются все необходимые сведения, его передают вместе с&nbsp;остальными бумагами в&nbsp;случае перевода ребенка из&nbsp;одного учебного заведения в&nbsp;другое, а&nbsp;после выпуска из&nbsp;школы выдают на&nbsp;руки.
							+e.item
								h3 Варианты оформления справки для детского сада или школы
								p Если родители располагают достаточным количеством времени (а&nbsp;быстро медицинская справка ребенка в&nbsp;любом случае оформлена быть не&nbsp;может), они могут выполнить ряд стандартных действий:
								ul
									li Посетить участкового педиатра или семейного врача.
									li Взять направления на&nbsp;прием узких специалистов (логопед, хирург, дантист, невролог, психолог, отоларинголог, дерматолог, окулист) и&nbsp;лабораторные исследования (общие анализы, мазки, тест на&nbsp;гельминты и&nbsp;т.&nbsp;п.).
									li Посетить всех перечисленных врачей и получить их заключение.
									li Сдать все необходимые анализы и получить их результаты.
									li Повторно нанести визит семейному врачу или педиатру.
									li Получить от него необходимую форму 026 У.
								p Обратите внимание: некоторые результаты анализов (к&nbsp;примеру, мазки на&nbsp;энтеробиоз) имеют ограниченный срок годности, поэтому не&nbsp;исключено, что если вы&nbsp;вначале пройдете все лабораторные исследования, а&nbsp;потом отправитесь по&nbsp;врачам, то&nbsp;на&nbsp;момент получения справки от&nbsp;вас потребуют более &laquo;свежие&raquo; данные.
								p Из&nbsp;описанной выше последовательности действий становится понятно, что для тех, кому медицинская справка ребенка нужна срочно, такой вариант неприемлем. В&nbsp;этом случае решением может стать быстрое оформление через наш сайт.
							+e.item
								h3 Как быстро оформить медицинскую справку для ребенка
								p Решение данной проблемы особенно актуально для тех, кому медицинская справка ребенка понадобилась, что называется, неожиданно. К&nbsp;примеру, предполагалось ожидание очереди в&nbsp;сад, как вдруг сообщили, что место освободилось, но&nbsp;его необходимо занять в&nbsp;считанные дни. Учитывая, что набор групп в&nbsp;основном осуществляется летом, высока вероятность того, что в&nbsp;районной поликлинике разведут руками и&nbsp;начнут перечислять, кто из&nbsp;специалистов отправился в&nbsp;отпуск и&nbsp;через сколько дней к&nbsp;нему можно попасть на&nbsp;прием.
								p Разумеется, можно отправиться в&nbsp;любое частное медицинское учреждение, но&nbsp;стоит понимать, что и&nbsp;там медицинская справка ребенка потребует от&nbsp;вас немало времени, а&nbsp;в&nbsp;дополнение&nbsp;&mdash; и&nbsp;денег, ведь платить придется за&nbsp;каждый прием и&nbsp;анализ, результатов которых к&nbsp;тому&nbsp;же все&nbsp;же придется дождаться.
								p Наши услуги&nbsp;&mdash; для тех, кому документ необходим срочно. Вы&nbsp;можете не&nbsp;переживать о&nbsp;подлинности справки&nbsp;&mdash; все подписи и&nbsp;печати будут от&nbsp;реально практикующих врачей, однако заключение вы&nbsp;получите на&nbsp;руки не&nbsp;позднее чем через сутки после того, как оставите заявку на&nbsp;нашем сайте. Наши сотрудники следят за&nbsp;всеми законодательными нововведениями, поэтому вы&nbsp;получите документ, соответствующий всем стандартам и&nbsp;требованиям.
							+e.autor
								+e.autor-text Администрация сайта "
								+e.A.link(href="#") Spravki-026.com
								|"

	+footer()

