extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-buy/_s-buy.pug
include ../blocks/s-order-advantages/_s-order-advantages.pug
include ../blocks/s-data/_s-data.pug
include ../blocks/s-mark-advantages/_s-mark-advantages.pug
include ../blocks/s-order-now/_s-order-now.pug
include ../blocks/s-deliver-city/_s-deliver-city.pug
include ../blocks/s-reviews/_s-reviews.pug
include ../blocks/s-price/_s-price.pug
include ../blocks/s-articles/_s-articles.pug

block title
	title Особенности оформления и заполнения бланка справки 026/у

block pagecontent
	+mob-mnu()
	+header()
		//- +top-line()
		+top-nav()
	+modal-btn()
	+b.article-page
			.container
				+e.main-block
					+e.IMG.back-image(src="img/life.png" alt="#")
					h1 Особенности оформления и заполнения бланка справки 026/у
					.block-with-sticky
						+sticky-block()(class="articles-page-sticky")
						.main-block
							+e.IMG.image(src="img/osobennosti-oformleniya-i-zapolneniya.jpg" alt="#")
							
							+e.item
								p Каким способом получить бланк справки 026&nbsp;У&nbsp;&mdash; решать исключительно родителям, занимающимся оформлением ребенка в&nbsp;детсад или школу. Однако тем, кто решил воспользоваться услугами посредника, следует быть осторожными: к&nbsp;сожалению, в&nbsp;Сети нередко можно столкнуться с&nbsp;мошенниками, которые продают фиктивные справки, не&nbsp;выдерживающие элементарной проверки. Чтобы избежать разочарования и&nbsp;напрасной траты временных, моральных и&nbsp;материальных ресурсов, следует знать особенности оформления и&nbsp;пользоваться услугами только проверенных посредников.
							+e.item
								h3 Справка 026/у: нормы закона
								p Вот уже почти два десятка лет от&nbsp;любого ребенка, планирующего посещать детский сад или школу, а&nbsp;вернее, от&nbsp;его родителей требуют бланк справки 026&nbsp;У. Это не&nbsp;просто лист с&nbsp;информацией и&nbsp;не&nbsp;стандартный, в&nbsp;привычном понимании большинства обывателей, медицинский бланк: это что-то типа небольшой книжечки, в&nbsp;которой первая запись делается при намерении посещения&nbsp;ОУ, будь&nbsp;то школа или сад, а&nbsp;последняя&nbsp;&mdash; в&nbsp;момент выпуска того&nbsp;же ребенка из&nbsp;школы. Следует понимать, что требование предоставления этого документа никоим образом не&nbsp;ограничивает право ребенка на&nbsp;получение обязательного начального и&nbsp;общего образования, однако определенные процедуры родителям все&nbsp;же соблюсти необходимо.
								p Практика показывает, что особо настойчивые родители, не&nbsp;желающие предоставлять бланк справки 026&nbsp;У, могут все&nbsp;же добиться разрешения на&nbsp;посещение их&nbsp;ребенком сада или школы, однако это будет стоить им&nbsp;массы потерянного времени в&nbsp;момент оформления и&nbsp;постоянных конфликтов с&nbsp;администрацией на&nbsp;весь период пребывания ребенка в&nbsp;учебном или дошкольном учреждении.
							+e.item
								h3 Варианты оформления справки для детского сада или школы
								p Согласно действующим требованиям бланк справки 026/у содержит начальную информацию (сведения о&nbsp;прохождении узких специалистов на&nbsp;момент оформления ребенка в&nbsp;учебное или дошкольное учреждение, результаты лабораторных исследований, заключение педиатра или семейного врача), дополняемую на&nbsp;протяжении всего периода обучения следующими данными:
								ul
									li Физическое развитие ребенка.
									li Перенесенные хронические и/или инфекционные заболевания.
									li Проведение плановых профилактических прививок.
									li Проведение дополнительных прививок в случае необходимости таковых (к примеру, в случае вспышек заболеваний, профилактика которых не предусмотрена плановым прививанием).
									li Регулярные плановые осмотры узких специалистов.
								p Исходя из&nbsp;перечисленных моментов становится понятно, что чем позже родители оформляют бланк справки 026&nbsp;У, тем больше сведений должно в&nbsp;нем содержаться.
							+e.item
								h3 На что стоит обратить внимание при получении справки
								p Родители, особенно если ребенок у&nbsp;них первый или единственный, редко имеют представление о&nbsp;том, как должна выглядеть справка 026У и&nbsp;какие данные должны быть в&nbsp;ней указаны. К&nbsp;сожалению, этим нередко и&nbsp;пользуются мошенники: продают поддельные документы, не&nbsp;содержащие необходимых сведений, а&nbsp;потому совершенно бесполезные.
								p При оформлении справки с нашей помощью мы гарантируем:
								ul
									li получение справки стандартной формы в виде буклета, состоящего из 33 страниц, разделенных на 11 подразделов;
									li внесение в документ всех актуальных данных (заказчик указывает их в момент оформления заявки на сайте);
									li все необходимые данные и заключения;
									li подлинные подписи и печати узких специалистов;
									li получение готовой справки не позднее чем через сутки после заказа.
								p Если вам срочно потребовалась справка 026У или&nbsp;же вы&nbsp;просто не&nbsp;хотите тратить свое время на&nbsp;ее&nbsp;официальное оформление, наши специалисты помогут вам в&nbsp;кратчайшие сроки.
							+e.autor
								+e.autor-text Администрация сайта "
								+e.A.link(href="#") Spravki-026.com
								|"

	+footer()

