extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-buy/_s-buy.pug
include ../blocks/s-order-advantages/_s-order-advantages.pug
include ../blocks/s-data/_s-data.pug
include ../blocks/s-mark-advantages/_s-mark-advantages.pug
include ../blocks/s-order-now/_s-order-now.pug
include ../blocks/s-deliver-city/_s-deliver-city.pug
include ../blocks/s-reviews/_s-reviews.pug
include ../blocks/s-price/_s-price.pug
include ../blocks/s-articles/_s-articles.pug

block title
	title Обязательна ли мед справка для школы 026/у при поступлении в первый класс

block pagecontent
	+mob-mnu()
	+header()
		//- +top-line()
		+top-nav()
	+modal-btn()
	+b.article-page
			.container
				+e.main-block
					+e.IMG.back-image(src="img/life.png" alt="#")
					h1 Обязательна ли мед справка для школы 026/у при поступлении в первый класс
					.block-with-sticky
						+sticky-block()(class="articles-page-sticky")
						.main-block
							+e.IMG.image(src="img/obyazatelna-li-med-spravka-dla-skoli.jpg" alt="#")
							
							+e.item
								p Оформление ребенка в&nbsp;первый класс и&nbsp;все связанные с&nbsp;этим процессом хлопоты&nbsp;&mdash; серьезное испытание не&nbsp;только для нервов родителей будущего школьника, но&nbsp;и&nbsp;для их&nbsp;кошельков. И&nbsp;когда, казалось&nbsp;бы, уже все собрано и&nbsp;можно с&nbsp;облегчением выдохнуть, появляется еще одно препятствие: мед справка для школы по&nbsp;форме 026&nbsp;У, без предоставления которой ребенка обещают не&nbsp;допустить до&nbsp;занятий. Насколько законны такие требования администрации?
							+e.item
								h3 Необходимость медицинского освидетельствования: нормы закона
								p Несмотря на&nbsp;то&nbsp;что право на&nbsp;школьное образование гарантировано каждому жителю страны Конституцией, это вовсе не&nbsp;означает, что родители ребенка имеют только права: на&nbsp;них возлагаются и&nbsp;обязанности. Все требования, выдвигаемые по&nbsp;отношению к&nbsp;соискателям, обучение которых предполагается в&nbsp;том или ином учебном заведении, преследуют одну четкую цель: не&nbsp;подвергнуть опасности никого из&nbsp;участников учебного процесса. Именно мед справка для школы подтверждает, что никакой угрозы состояние здоровья конкретного ребенка для окружающих не&nbsp;предоставляет.
								p Те&nbsp;родители, чьи дети посещали дошкольные учреждения, возможно, удивятся, ведь они дополнительно не&nbsp;оформляют никаких справок для школы. Это естественно, ведь бланк 026У оформляется впервые при поступлении в&nbsp;детсад (если таковой посещался), а&nbsp;в&nbsp;дальнейшем в&nbsp;него просто вносят актуальные данные. В&nbsp;старшей группе детсада ближе к&nbsp;концу учебного года проводится медицинское освидетельствование узкими специалистами непосредственно на&nbsp;территории ДОУ. Именно поэтому мед справка для школы предоставляется после выпуска из&nbsp;сада уже готовой, ее&nbsp;можно относить в&nbsp;школу вместе с&nbsp;остальными документами будущего первоклассника.
							+e.item
								h3 Можно ли обойтись без справки 026 формы?
								p Теоретически даже при отсутствии формы 026&nbsp;У можно добиться того, что ребенок будет посещать школу. Другой вопрос, что для этого и&nbsp;изначально понадобится потратить массу времени, сил и&nbsp;нервов, чтобы доказать свою правоту, и&nbsp;впоследствии потребуется смириться с&nbsp;конфликтами с&nbsp;администрацией, возникающими на&nbsp;фоне того, что мед справка для школы так и&nbsp;не&nbsp;была предоставлена. Насколько такие действия со&nbsp;стороны администрации законны&nbsp;&mdash; это уже вопрос, относящийся к&nbsp;компетенции юристов, к&nbsp;помощи которых, кстати, таким родителям нередко приходится прибегать.
								//- +e.UL.list
								//- 	+e.LI.list-item Физическое развитие ребенка.
								//- 	+e.LI.list-item Перенесенные хронические и/или инфекционные заболевания.
								//- 	+e.LI.list-item Проведение плановых профилактических прививок.
								//- 	+e.LI.list-item Проведение дополнительных прививок в случае необходимости таковых (к примеру, в случае вспышек заболеваний, профилактика которых не предусмотрена плановым прививанием).
								//- 	+e.LI.list-item Регулярные плановые осмотры узких специалистов.
							+e.item
								h3 Есть ли выход?
								p Если вам сообщили, что единственным препятствием для зачисления вашего ребенка в&nbsp;первый класс стала именно медицинская справка, но&nbsp;при этом у&nbsp;вас нет времени оформлять ее&nbsp;стандартным путем, не&nbsp;беда. К&nbsp;слову, многие родители предпочитают пользоваться услугами частных медицинских работников, а&nbsp;потому их&nbsp;визит в&nbsp;районную поликлинику к&nbsp;педиатру или семейному врачу за&nbsp;справкой для школы мог&nbsp;бы быть первым. Разумеется, вопросов к&nbsp;ним возникнет немало, а&nbsp;их&nbsp;решение опять&nbsp;же потребует времени.
								p Если вам срочно необходима мед справка для школы, рекомендуем вам воспользоваться предложением наших специалистов: вы&nbsp;просто заходите на&nbsp;сайт, оформляете заявку и&nbsp;вносите всю необходимую информацию, требуемую для заполнения документа. При необходимости уточнения каких-либо данных наши специалисты обязательно свяжутся с&nbsp;заказчиком, и&nbsp;уже через сутки бланк будет в&nbsp;вашем распоряжении.
								p Не&nbsp;стоит волноваться по&nbsp;поводу законности полученной справки: мы&nbsp;предоставляем не&nbsp;фиктивные бланки, а&nbsp;официально оформленные документы, заполненные по&nbsp;всем правилам реальными медицинскими работниками.
							+e.autor
								+e.autor-text Администрация сайта "
								+e.A.link(href="#") Spravki-026.com
								|"

	+footer()

