extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-buy/_s-buy.pug
include ../blocks/s-order-advantages/_s-order-advantages.pug
include ../blocks/s-data/_s-data.pug
include ../blocks/s-mark-advantages/_s-mark-advantages.pug
include ../blocks/s-order-now/_s-order-now.pug
include ../blocks/s-deliver-city/_s-deliver-city.pug
include ../blocks/s-reviews/_s-reviews.pug
include ../blocks/s-price/_s-price.pug
include ../blocks/s-articles/_s-articles.pug

block title
	title Когда нужно предоставлять медицинскую справку в детский сад?

block pagecontent
	+mob-mnu()
	+header()
		//- +top-line()
		+top-nav()
	+modal-btn()
	+b.article-page
			.container
				+e.main-block
					+e.IMG.back-image(src="img/life.png" alt="#")
					h1 Когда нужно предоставлять медицинскую справку в детский сад?
					.block-with-sticky
						+sticky-block()(class="articles-page-sticky")
						.main-block
							+e.IMG.image(src="img/kogda-nuzno-predostavlat-medisinskuyu-spravku.jpg" alt="#")
							
							+e.item
								p В&nbsp;зависимости от&nbsp;того, в&nbsp;каком возрасте ребенок отправляется в&nbsp;ДОУ впервые, будет отличаться информация, которую должна содержать медицинская справка в&nbsp;детский сад. Так, к&nbsp;примеру, при поступлении в&nbsp;ясельную группу нет необходимости в&nbsp;заключении логопеда. Эти и&nbsp;другие нюансы будет не&nbsp;лишним знать родителям, оформляющим своего ребенка в&nbsp;детсад.
							+e.item
								h3 В каких случаях требуют справку 026/у
								p Ответ на&nbsp;данный вопрос зависит еще и&nbsp;от&nbsp;того, о&nbsp;каком именно документе идет речь. Если это обычная справка, подтверждающая, что малыш неконтактен по&nbsp;дому и&nbsp;может посещать детский коллектив, то&nbsp;ее, как правило, требуют в&nbsp;случае пропуска определенного количества учебных дней без предварительного предупреждения. Такая медицинская справка в&nbsp;детский сад выдается участковым педиатром и&nbsp;не&nbsp;предусматривает заключения узких специалистов или сдачи анализов.
								p Другой вопрос&nbsp;&mdash; форма 026&nbsp;У, требуемая при зачислении в&nbsp;ДОУ. Данный документ является обязательным, при его отсутствии родителям, вероятнее всего, будет отказано. Это связано с&nbsp;тем, что такая справка содержит массу информации, необходимой для того, чтобы сделать пребывание малыша в&nbsp;саду безопасным и&nbsp;для него самого, и&nbsp;для окружающих. Наиболее яркий пример&nbsp;&mdash; вспышка детских инфекционных заболеваний в&nbsp;детсадах. Только при наличии записи о&nbsp;том, перенес&nbsp;ли конкретный ребенок тот или иное заболевание, можно принять правильные меры при обнаружении специфических признаков у&nbsp;него самого или в&nbsp;его непосредственном окружении.
							+e.item
								h3 Как оформить медсправку формы 026?
								p Большинство родителей при упоминании о&nbsp;том, что для оформления необходима медицинская справка в&nbsp;детский сад, в&nbsp;прямом смысле слова хватаются за&nbsp;голову. Любой, кто сталкивался с&nbsp;системой государственной медицины, прекрасно осознает, сколько времени можно потратить на&nbsp;получение вердикта узких специалистов, которых в&nbsp;данном случае насчитывается около десятка. А&nbsp;ведь помимо приема у&nbsp;таковых еще необходимо посещение педиатра или семейного врача (и&nbsp;не&nbsp;раз), а&nbsp;также потребуется сдать необходимые анализы и&nbsp;дождаться их&nbsp;результатов. Кстати, придется немало потрудиться, чтобы сопоставить графики посещения узких специалистов и&nbsp;сдачи анализов: мало того что часы приема в&nbsp;лабораториях и&nbsp;у&nbsp;врачей совпадают крайне редко, так еще и&nbsp;результаты некоторых лабораторных исследований действительны ограниченный отрезок времени.
								p Если перспектива способа, которым может быть получена медицинская справка в&nbsp;детский сад совершенно законно и&nbsp;официально, вас, мягко говоря, не&nbsp;впечатляет, вы&nbsp;можете воспользоваться альтернативным предложением.
								//- +e.UL.list
								//- 	+e.LI.list-item Физическое развитие ребенка.
								//- 	+e.LI.list-item Перенесенные хронические и/или инфекционные заболевания.
								//- 	+e.LI.list-item Проведение плановых профилактических прививок.
								//- 	+e.LI.list-item Проведение дополнительных прививок в случае необходимости таковых (к примеру, в случае вспышек заболеваний, профилактика которых не предусмотрена плановым прививанием).
								//- 	+e.LI.list-item Регулярные плановые осмотры узких специалистов.
							+e.item
								h3 Наши услуги по оформлению справок
								p Наш сайт на&nbsp;протяжении уже достаточно длительного времени помогает соискателям оформить справки по&nbsp;форме 026&nbsp;У. Мы&nbsp;не&nbsp;предлагаем получить документы нелегально и&nbsp;потом переживать, что первая&nbsp;же проверка это обнаружит: каждая медицинская справка в&nbsp;детский сад, выданная нами, совершенно официальна, содержит данные реальных врачей и&nbsp;всю необходимую информацию.
								p При этом родители, подавшие заявку на&nbsp;сайте, получают готовый документ на&nbsp;руки не&nbsp;позднее чем через сутки после того, как в&nbsp;распоряжении наших специалистов окажется вся нужная для этого информация. А&nbsp;учитывая отсутствие необходимости наличия на&nbsp;справке фото, единственная личная встреча с&nbsp;нашими сотрудниками, которая потребуется,&nbsp;&mdash; это непосредственно момент передачи готового бланка в&nbsp;руки заказчику.
							+e.autor
								+e.autor-text Администрация сайта "
								+e.A.link(href="#") Spravki-026.com
								|"

	+footer()

