extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-buy/_s-buy.pug
include ../blocks/s-order-advantages/_s-order-advantages.pug
include ../blocks/s-data/_s-data.pug
include ../blocks/s-mark-advantages/_s-mark-advantages.pug
include ../blocks/s-order-now/_s-order-now.pug
include ../blocks/s-deliver-city/_s-deliver-city.pug
include ../blocks/s-reviews/_s-reviews.pug
include ../blocks/s-price/_s-price.pug
include ../blocks/s-articles/_s-articles.pug

block title
	title Зачем вашему ребенку нужна форма 026/у-2000?

block pagecontent
	+mob-mnu()
	+header()
		//- +top-line()
		+top-nav()
	+modal-btn()
	+b.article-page
			.container
				+e.main-block
					+e.IMG.back-image(src="img/life.png" alt="#")
					h1 Зачем вашему ребенку нужна форма 026/у-2000?
					.block-with-sticky
						+sticky-block()(class="articles-page-sticky")
						.main-block
							+e.IMG.image(src="img/zachem-vasemu-rebenku-nuzna-forma.jpg" alt="#")
							
							+e.item
								p При оформлении ребенка в&nbsp;детский сад либо в&nbsp;школу абсолютно все должны предоставить медицинскую справку. Это регулируется Федеральным законом &#8470;&nbsp;323, а&nbsp;также приказами 2562 и&nbsp;1346н. Следует понимать, что в&nbsp;случае, если форма 026/у-2000 своевременно не&nbsp;будет предоставлена, ребенка могут не&nbsp;допустить до&nbsp;занятий или запретить его пребывание в&nbsp;ДОУ.
							+e.item
								h3 В каких случаях необходима справка 026/у-2000
								p Медицинская форма 026/у-2000 оформляется всего один раз. В&nbsp;каком возрасте это будет сделано&nbsp;&mdash; зависит от&nbsp;ряда факторов, в&nbsp;частности&nbsp;&mdash; от&nbsp;того, находится ребенок дома или посещает сад.
								p Если родители планируют отдать сына или дочь в&nbsp;детсад, данный медицинский документ понадобится им&nbsp;до&nbsp;того, как будет осуществлено первое посещение, если&nbsp;же ребенок &laquo;домашний&raquo;, то&nbsp;озаботиться получением справки придется непосредственно перед оформлением в&nbsp;первый класс средней школы.
								p Важно: медицинская форма 026/у-2000 представляет собой брошюру из&nbsp;33&nbsp;страниц, разделенных на&nbsp;11&nbsp;разделов. Изначально в&nbsp;нее вносятся данные о&nbsp;перенесенных инфекционных заболеваниях, профилактических прививках и&nbsp;т.&nbsp;п. Если ребенок посещает детсад непосредственно до&nbsp;момента поступления в&nbsp;первый класс школы, то&nbsp;за&nbsp;годы пребывания в&nbsp;ДОУ информация дополнится результатами плановых обследований. Если&nbsp;же по&nbsp;каким-либо причинам родители забрали его из&nbsp;сада и&nbsp;определенный период времени он&nbsp;провел дома, то&nbsp;придется повторно проходить процедуру оформления справки.
							+e.item
								h3 Что необходимо для оформления справки
								p Порядка десяти врачей (их&nbsp;перечень может незначительно отличаться, в&nbsp;зависимости от&nbsp;возраста ребенка), ряд лабораторных исследований и&nbsp;заключение педиатра либо семейного врача&nbsp;&mdash; через все это придется пройти родителям, которым понадобилась форма 026/у-2000. оформить сам документ можно несколькими способами:
								ol.ordered-strong
									li
										strong В&nbsp;поликлинике по&nbsp;месту жительства: 
										| относительно недорогой метод оформления документа. Относительно&nbsp;&mdash; потому что затраты времени не&nbsp;всегда оправдывают экономию денег. Очереди и&nbsp;неудобные графики, отсутствие узких специалистов на&nbsp;рабочих местах по&nbsp;причине болезни или отпуска, ограниченное время работы лабораторий и&nbsp;многие другие нюансы зачастую приводят к&nbsp;тому, что родители ищут альтернативные варианты.
									li
										strong В&nbsp;частной клинике. 
										| Возможно, этот способ является более удобным в&nbsp;том плане, что удастся избежать очередей, да&nbsp;и&nbsp;график приема приватных специалистов зачастую куда более гибкий. Однако, изучив предложения, существующие по&nbsp;данному направлению, вывод можно сделать неутешительный: достаточно сложно найти медцентр, где принимали&nbsp;бы все специалисты, заключение которых предусматривает форма 026/у-2000. К&nbsp;тому&nbsp;же результатов анализов все равно придется дождаться, что опять&nbsp;же увеличивает срок получения справки.
									li
										strong Воспользоваться услугами посредников. 
										| Специалисты, занимающиеся решением подобных проблем, знают, к&nbsp;кому обратиться, чтобы получение медицинского документа не&nbsp;растянулось во&nbsp;времени. Самое главное в&nbsp;этом вопросе&nbsp;&mdash; найти тех, кто предлагает не&nbsp;поддельные бланки, а&nbsp;заполненные по&nbsp;всем правилам формы.
							+e.item
								h3 Наши услуги по получению формы 026/у-2000
								p Если перед вами со&nbsp;всей остротой встала проблема оформления медсправки для ребенка в&nbsp;детсад или школу, мы&nbsp;с&nbsp;радостью вам поможем. Все, что потребуется от&nbsp;вас,&nbsp;&mdash; это предоставить всю необходимую информацию (на&nbsp;всякий случай позаботьтесь о&nbsp;том, чтобы амбулаторная справка вашего ребенка была под рукой). С&nbsp;момента подачи заявки и&nbsp;согласования с&nbsp;нашими специалистами всех необходимых сведений до&nbsp;момента получения готовой справки на&nbsp;руки пройдет не&nbsp;более 24&nbsp;часов, что актуально в&nbsp;тех случаях, когда документ нужен срочно.
							+e.autor
								+e.autor-text Администрация сайта "
								+e.A.link(href="#") Spravki-026.com
								|"

	+footer()

