extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-buy/_s-buy.pug
include ../blocks/s-order-advantages/_s-order-advantages.pug
include ../blocks/s-data/_s-data.pug
include ../blocks/s-mark-advantages/_s-mark-advantages.pug
include ../blocks/s-order-now/_s-order-now.pug
include ../blocks/s-deliver-city/_s-deliver-city.pug
include ../blocks/s-reviews/_s-reviews.pug
include ../blocks/s-price/_s-price.pug
include ../blocks/s-articles/_s-articles.pug

block title
	title Список врачей необходимый для получения справки 026/у

block pagecontent
	+mob-mnu()
	+header()
		//- +top-line()
		+top-nav()
	+modal-btn()
	+b.article-page
			.container
				+e.main-block
					+e.IMG.back-image(src="img/life.png" alt="#")
					h1 Список врачей необходимый для получения справки 026/у
					.block-with-sticky
						+sticky-block()(class="articles-page-sticky")
						.main-block
							+e.IMG.image(src="img/spisok-vrasey-neobhodimih-dla-poluseniya.jpg" alt="#")
							
							+e.item
								p При первом посещении ДОУ или оформлении ребенка в&nbsp;первый класс от&nbsp;родителей в&nbsp;обязательном порядке потребуют медицинскую справку. Необходимый список врачей для справки 026&nbsp;У предоставит участковый педиатр или семейный врач, кроме того, потребуется пройти ряд лабораторных исследований и&nbsp;дождаться их&nbsp;результатов.
							+e.item
								h3 Заключение каких специалистов потребуется для справки 026/у
								p Сведения о&nbsp;прививках, данные о&nbsp;перенесенных инфекционных заболеваниях и&nbsp;заключение порядка десятка узких специалистов&nbsp;&mdash; вся эта информация должна содержаться в&nbsp;брошюре, которую родители предоставляют при первичном оформлении своего ребенка в&nbsp;дошкольное учебное заведение или в&nbsp;школу. Это установленная на&nbsp;законодательном уровне форма, а&nbsp;потому список врачей для справки 026 также регулируется законодательством. Тот факт, что цифра не&nbsp;указывается точно, следствие нескольких факторов:
								ol
									li Возраст ребенка: если вы&nbsp;отдаете кроху в&nbsp;ясельную группу и&nbsp;ему еще не&nbsp;исполнилось трех лет, заключение логопеда для вашей справки не&nbsp;потребуется.
									li Особенности протекания беременности: в&nbsp;некоторых случаях ребенка ставят на&nbsp;диспансерный учет непосредственно после рождения в&nbsp;связи с&nbsp;наличием врожденных заболеваний. В&nbsp;этом случае их&nbsp;вердикт будет необходим для медсправки, даже если заключение данного специалиста не&nbsp;предусмотрено законом.
									li Наличие хронических заболеваний: ситуация, аналогичная предыдущему пункту. Если ребенок состоит на&nbsp;диспансерном учете, специалист, наблюдающий его, также должен написать заключение.
								p В&nbsp;связи с&nbsp;перечисленными нюансами список врачей для справки 026 может незначительно отличаться, но&nbsp;чаще всего говорят о&nbsp;наличии вывода следующих специалистов:
								ul
									li Хирург.
									li ЛОР.
									li Окулист.
									li Стоматолог.
									li Психолог.
									li Невролог.
									li Дерматолог.
									li Педиатр либо семейный врач.
								p Кстати, последнего придется посетить как минимум дважды: для получения направлений и&nbsp;для написания окончательного заключения.
							+e.item
								h3 Обязательна ли справка 026/у вашему ребенку?
								p Увидев список врачей для справки 026&nbsp;У, многие родители задаются вопросом: а&nbsp;так&nbsp;ли уж&nbsp;нужен этот документ? Вопрос вполне закономерен, если учесть, сколько времени потребуется выделить для получения заключения каждого перечисленного специалиста. Не&nbsp;стоит забывать и&nbsp;о&nbsp;том, что чаще всего диспансеризация выпадает на&nbsp;лето&nbsp;&mdash; период отпусков, поэтому шансы, что в&nbsp;поликлинике придется просидеть не&nbsp;один день, еще увеличиваются.
								p Тем не&nbsp;менее законом предусмотрено обязательное предоставление данного медицинского заключения для каждого ребенка, планирующего посещать сад или школу. Бытует мнение, что отстоять свое конституционное право на&nbsp;образование для ребенка может каждый родитель, однако для этого понадобится еще больше затрат времени и&nbsp;нервов, чем для прохождения диспансеризации. Ну&nbsp;а&nbsp;тем, кто, увидев список врачей для справки 026&nbsp;У, категорически отказывается заниматься ее&nbsp;официальным оформлением, не&nbsp;будет лишним узнать об&nbsp;альтернативных способах получения документа.
							+e.item
								h3 Оптимальный выход
								p Лучшее решение для родителей, ценящих свое время,&nbsp;&mdash; оформление справки через посредника. Достаточно всего лишь зайти к&nbsp;нам на&nbsp;сайт, оставить заявку и&nbsp;предоставить все интересующие нас данные&nbsp;&mdash; и&nbsp;уже через сутки справка 026&nbsp;У, оформленная в&nbsp;соответствии со&nbsp;всеми требованиями, будет в&nbsp;вашем распоряжении.
							+e.autor
								+e.autor-text Администрация сайта "
								+e.A.link(href="#") Spravki-026.com
								|"

	+footer()

