extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-buy/_s-buy.pug
include ../blocks/s-order-advantages/_s-order-advantages.pug
include ../blocks/s-data/_s-data.pug
include ../blocks/s-mark-advantages/_s-mark-advantages.pug
include ../blocks/s-order-now/_s-order-now.pug
include ../blocks/s-deliver-city/_s-deliver-city.pug
include ../blocks/s-reviews/_s-reviews.pug
include ../blocks/s-price/_s-price.pug
include ../blocks/s-articles/_s-articles.pug
include ../blocks/s-accordion/_s-accordion.pug

block title
	title Вопросы и ответы о медицинской справке 026/у-2000

block pagecontent
	+mob-mnu()
	+header()
		//- +top-line()
		+top-nav()
	+modal-btn()
	+header-block-2("background-image: url(img/faq-bg.jpg);", "ОТВЕТЫ НА ЧАСТЫЕ ВОПРОСЫ")
	.block-with-sticky
		+sticky-block()(class="articles-sticky")
		+s-accordion()
		//- +s-order-advantages()
		//- +s-buy()
		//- +s-data
		//- +s-buy-2()
		//- +s-mark-advantages()
		//- +s-buy-3()
		//- +s-order-now()
		//- +s-deliver-city()
	//- +s-reviews()
	//- +s-price()
	//- +s-contact()
	+footer()

