mixin s-mark-advantages()
	// start s-mark-advantages
	+b.SECTION.s-mark-advantages.section.block-with-lazy#s-mark-advantages&attributes(attributes)
		+e.bg-wrap
			img(src='img/mark-bg.jpg' alt='')
		.container
			.main-block
				+e.H2.title.block-title Оцените преимущества <br>работы с нами
				+e.P.subtitle Мы предлагаем только официальные документы, которые не вызовут вопросов при проверке и не создадут вам никаких сложностей.
				.row
					+e.item-wrap.col-md-4.col-sm-6
						+e.item
							+e.IMG.image(src="img/mark-i.png" alt="#")
							+e.item-title Оформление справки&nbsp;занимает около суток
					+e.item-wrap.col-md-4.col-sm-6
						+e.item
							+e.IMG.image(src="img/mark-i.png" alt="#")
							+e.item-title Возможность оплаты по факту получения справки
					+e.item-wrap.col-md-4.col-sm-6
						+e.item
							+e.IMG.image(src="img/mark-i.png" alt="#")
							+e.item-title Гарантия подлинности, документ заверяется печатью банка
					+e.item-wrap.col-md-4.col-sm-6
						+e.item
							+e.IMG.image(src="img/mark-i.png" alt="#")
							+e.item-title Учтем все требования посольства страны посещения
					+e.item-wrap.col-md-4.col-sm-6
						+e.item
							+e.IMG.image(src="img/mark-i.png" alt="#")
							+e.item-title Доставка документа при помощи курьера на&nbsp;следующий день
					+e.item-wrap.col-md-4.col-sm-6
						+e.item
							+e.IMG.image(src="img/mark-i.png" alt="#")
							+e.item-title Полная конфиденциальность сделки


				p Заказанный у нас документ будет полностью совпадать с оригинальным, что гарантирует Вам положительный результат при подаче его в посольство. Также наши эксперты могут подготовить справку или выписку из банка по вашему образцу с необходимыми данными.


	// end s-mark-advantages