mixin s-order-now()
	// start s-order-now
	+b.s-order-now.section.block-with-lazy#s-order-now&attributes(attributes)
		+e.bg-wrap
			img(src='img/mark-bg.jpg' alt='')
		.container
			.main-block
				+e.item
					+e.q-wrap
						+e.IMG.q-img(src='img/q.png' alt='')
					+e.text Каждый документ изготавливается индивидуально под Вас. Даже если Вы не знаете какую сумму указать в справке, наши специалисты подберут оптимальное решение. Просто позвоните по номерам телефонов указанным на сайте или оставьте заявку онлайн. 
						strong Готовую справку Вы получите уже на следующий день!
				+e.item
					+e.q-wrap
						+e.IMG.q-img(src='img/q.png' alt='')
					+e.text 
						strong Собственная курьерская служба 
						| позволяет нам работать без праздников и выходных. Справки 
						strong доставляются бесплатно 
						| по станциям метро, находящимся на кольцевой линии метрополитена. Также мы работаем с регионами, отправляя документы почтовыми службами EMS, DHL, Pony-Express и другими…
				+e.item
					+icon('video-p')
					+e.q-wrap
						+e.IMG.q-img(src='img/q.png' alt='')
					+e.text Можно проверить документы при их получении до оплаты. 
						strong Мы не берем предоплату
						| , делая наши отношения безопасными и надежными.  В штат наших сотрудников входят как люди с опытом банковского дела, так и лингвисты-переводчики, которые могут изготовить справку практически на любом языке.
					+e.add-wrap Желаем Вам удачи в получении визы!
	// end s-order-now