mixin s-reviews()
	// start s-reviews
	+b.SECTION.s-reviews.section.block-with-lazy#s-reviews&attributes(attributes)
		+e.bg-wrap
			img(src='img/mark-bg.jpg' alt='')
		.container
			.row
				.main-block.col-12
					+e.IMG.quotes(src="img/quotes.png" alt="#")
					+e.H2.title.block-title Что пишут клиенты о нашей работе*
					+e.subtitle * данные отзывы являются индивидуальными мнениями клиентов
					+e.slider-box
						+e.slider
							+e.slider-item
								+e.item-header
									+e.img-wrap
										+e.IMG.item-image(src="img/review-photo1.jpg" alt="#")
									+e.SPAN.item-title Мария, Москва
								+e.item-text У&nbsp;нас все работают, поэтому тащить ребенка в&nbsp;поликлинику для оформления медсправки поручили бабушке. Просиживать в&nbsp;таких очередях с&nbsp;внуком&nbsp;&mdash; дело хлопотное и&nbsp;опасное для его здоровья, поэтому сын предложил заказать справку в&nbsp;интернете. У&nbsp;моего поколения отношение к&nbsp;подобным услугам скептическое, но&nbsp;эту клинику ему порекомендовал коллега&nbsp;&mdash; решили попробовать.
								+e.item-text Все вопросы папа решил по&nbsp;телефону, оплатили услугу в&nbsp;тот&nbsp;же день, после бесплатной доставки документа. Для меня это проще, чем искать способы отблагодарить педиатра в&nbsp;поликлинике. Сомневалась в&nbsp;подлинности справки до&nbsp;последнего, но&nbsp;когда и&nbsp;ее, и&nbsp;ребенка без лишних слов приняли в&nbsp;садике&nbsp;&mdash; сомнения развеялись. Благодарю специалистов за&nbsp;профессионализм, через год и&nbsp;для внучки у&nbsp;вас оформлять справку будем!
							+e.slider-item
								+e.item-header
									+e.img-wrap
										+e.IMG.item-image(src="img/review-photo2.jpg" alt="#")
									+e.SPAN.item-title Антонина, Москва
								+e.item-text Ситуация сложилась так, что ребенка пришлось отдавать в&nbsp;сад раньше предполагаемого срока, поэтому все документы, в&nbsp;том числе и&nbsp;справка 026У, нужны были буквально &laquo;вчера&raquo;. Вопрос стоял ребром: или мы&nbsp;в&nbsp;течение пары дней все предоставляем, или пропускаем свою очередь. Конечно, немного опасались заказывать документ через посредников, переживали до&nbsp;последнего, пока медсестра в&nbsp;саду придирчиво его изучала. Но&nbsp;все прошло прекрасно, никаких сомнений предоставленная справка не&nbsp;вызвала, и&nbsp;нас зачислили в&nbsp;группу. Огромное вам спасибо, при необходимости будем рекомендовать ваш сайт знакомым.
							+e.slider-item
								+e.item-header
									+e.img-wrap
										+e.IMG.item-image(src="img/review-photo3.jpg" alt="#")
									+e.SPAN.item-title София, Химки
								+e.item-text Заказывали для нашего Кирюши медсправку 026, после переезда времени до&nbsp;зачисления в&nbsp;1-й класс оставалось совсем мало. Слышали, что с&nbsp;этой справкой всегда волокита сплошная, поэтому думали, что не&nbsp;успеем. Но&nbsp;в&nbsp;итоге правда всё сделали очень быстро, действительно за&nbsp;сутки буквально, даже доставили по&nbsp;адресу, и&nbsp;ехать никуда не&nbsp;пришлось. Теперь Кирюша учится, и&nbsp;годик пропускать не&nbsp;понадобилось. В&nbsp;общем, сайт теперь советую знакомым, кому нужны медсправки и&nbsp;всякое такое. Успехов вам!
							+e.slider-item
								+e.item-header
									+e.img-wrap
										+e.IMG.item-image(src="img/review-photo4.jpg" alt="#")
									+e.SPAN.item-title Олег, Балашиха
								+e.item-text То, что теперь для обучения ребёнка в&nbsp;школе требуется справка 026/у, стало для меня неожиданностью. Причём, по&nbsp;словам бывалых людей, это не&nbsp;пустая формальность&nbsp;&mdash; при любой погрешности в&nbsp;оформлении справку могут и&nbsp;не&nbsp;принять. И&nbsp;главное&nbsp;&mdash; для её&nbsp;получения требуется визит к&nbsp;педиатру и&nbsp;сдача множества анализов. А&nbsp;тут ещё ребёнок подхватил ОРЗ и&nbsp;слёг с&nbsp;температурой, так что вести его к&nbsp;врачу не&nbsp;было никакой возможности. Да&nbsp;и&nbsp;времени до&nbsp;начала учебного года оставалось совсем чуть-чуть. <br>Эта компания оказалась счастливой находкой. Никакого беспокойства&nbsp;&mdash; и&nbsp;всё сделано замечательно. Справку доставили на&nbsp;дом, а&nbsp;в&nbsp;школе её&nbsp;приняли без проблем. Да&nbsp;и&nbsp;цена услуги несопоставима с&nbsp;огромной экономией времени, которое иначе пришлось&nbsp;бы тратить, бегая по&nbsp;врачам. Всем рекомендую обращаться за&nbsp;справкой именно сюда.
							+e.slider-item
								+e.item-header
									+e.img-wrap
										+e.IMG.item-image(src="img/review-photo5.jpg" alt="#")
									+e.SPAN.item-title Светлана, Москва
								+e.item-text Оформляла сына в&nbsp;садик и&nbsp;столкнулась с&nbsp;проблемой получения справки 026У. Точнее получить-то ее&nbsp;не&nbsp;проблема, ребенок здоров и&nbsp;может посещать детсад. Но&nbsp;стоять с&nbsp;ним в&nbsp;очередях к&nbsp;разным врачам очень тяжело, а&nbsp;оставить не&nbsp;на&nbsp;кого. Муж работает на&nbsp;заводе, а&nbsp;родители в&nbsp;другом городе. Искала в&nbsp;интернете советы других мам, как быстрее оформить справку, и&nbsp;случайно нашла этот сайт. Сначала я&nbsp;не&nbsp;поверила, что здесь оформляют настоящие справки, думала, что подделки. Поэтому долго расспрашивала консультанта по&nbsp;телефону и&nbsp;только потом заказала 026У. Как мне и&nbsp;обещали, справку в&nbsp;садике приняли без проблем. Особенно порадовало&nbsp;то, что она была оформлена всего за&nbsp;один день.
							+e.slider-item
								+e.item-header
									+e.img-wrap
										+e.IMG.item-image(src="img/review-photo6.jpg" alt="#")
									+e.SPAN.item-title Алёна, Москва
								+e.item-text Медосмотр&nbsp;&mdash; нелёгкое испытание даже для взрослого человека, поэтому свою дочку я&nbsp;решила от&nbsp;него уберечь. Чтобы получить справку 026/у, которая необходима для предоставления в&nbsp;школу при поступлении в&nbsp;первый класс, я&nbsp;решила воспользоваться интернет-услугами. Заполнила на&nbsp;сайте Spravki-026.com заявку и&nbsp;уже на&nbsp;второй день получила готовую справку. Доставили её&nbsp;бесплатно.
								+e.item-text Когда несла справку в&nbsp;школу, то&nbsp;немного побаивалась: правильно&nbsp;ли она оформлена, законно&nbsp;ли. Но&nbsp;всё обошлось. Приняли без всяких претензий, так что теперь своим родственникам и&nbsp;знакомым с&nbsp;маленькими детками советую тоже обращаться в&nbsp;вашу компанию. Спасибо за&nbsp;сбережённые нервы и&nbsp;время!
						//- +e.slider-btn-block
						//- 	+e.IMG.slider-nav.prev-btn(src="img/svg/back.svg" alt="#")
						//- 	+e.IMG.slider-nav.next-btn(src="img/svg/next.svg" alt="#")
						+e.slider-btn-block
							+e.slider-nav.prev-btn &lt;
							+e.slider-nav.next-btn &gt;
				+e.doc-col.col.d-none.d-sm-flex
					+e.doc-block
						+e.doc-circle
						+e.IMG.doc-img(src="img/rew-i.jpg" alt="#")
	// end s-reviews